.Navbar {
  justify-content: space-between;
  /* padding: 10px 0; */
  padding: 0;
  height: 40px;
}

.navibar {
  /* height: 5px; */
}

.fa-location-dot {
  font-size: 18pt;
  color: white;
  margin: 15px;
}

.current-location {
  font-size: 16pt;
  font-weight: 700;
  color: white;
}

.current-location:hover {
  color: white;
}
